.contacts-section {
    padding: 4rem 2rem;
    background-color: var(--background);
    color: var(--text);
    text-align: center;

    .contacts-title {
        font-size: var(--font-size-extra-large);
        margin-bottom: 2rem;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 1.8rem;
        font-size: 2rem;
        margin-bottom: 2rem;

        a {
            color: var(--text);
            transition: color 0.3s;

            &:hover {
                color: #007bff;
                transform: scale(1.2) rotate(5deg);
            }
        }
    }

    .hire-btn {
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background-color: #007bff;
        color: white;
        padding: 0.75rem 1.5rem;
        font-size: 1.1rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: grid;
        place-items: center;
        z-index: 1000;
    }

    .modal-content {
        background: var(--background);
        color: var(--text);
        border-radius: 1rem;
        padding: 2rem;
        width: 95%;
        max-width: 650px;
        position: relative;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

        h3 {
            margin-bottom: 1.5rem;
            font-size: 1.75rem;
        }

        .close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            border: none;
            font-size: var(--font-size-large);
            cursor: pointer;
            color: var(--text);

            &:hover {
                color: #007bff;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input,
            textarea {
                padding: 0.75rem 1rem;
                border-radius: 0.5rem;
                border: 1px solid #ccc;
                background: var(--background);
                color: var(--text);
                font-size: var(--font-size-small);


            }

            button[type="submit"] {
                background-color: #007bff;
                color: white;
                border: none;
                padding: 0.75rem;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: var(--font-size-small);

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }
}