$light-bg: #ffffff;
$light-text: #222222;

$dark-bg: #1c1c1c;
$dark-text: #eeeeee;

$skyblue-bg: #cbe9f7;
$skyblue-text: #00334e;

.app.light {
    --background: #{$light-bg};
    --text: #{$light-text};
    --card-bg: #f9f9f9;

    --scroll-track: #f0f0f0;
    --scroll-thumb: #c0c0c0;
}

.app.dark {
    --background: #{$dark-bg};
    --text: #{$dark-text};
    --card-bg: #2a2a2a;

    --scroll-track: #1e1e1e;
    --scroll-thumb: #444444;
}

.app.skyblue {
    --background: #{$skyblue-bg};
    --text: #{$skyblue-text};
    --card-bg: #e3f4fd;

    --scroll-track: #e0f7ff;
    --scroll-thumb: #3399cc;
}

.app {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--background);
    color: var(--text);
}